In [1]:
import sqlite3

In [2]:
script = """
DROP TABLE IF EXISTS emp;

CREATE TABLE IF NOT EXISTS emp (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    department TEXT,
    salary NUMERIC(10, 2)
);

INSERT INTO emp (name, department, salary) VALUES
    ("Anthony", "Marketing", 2300.00),
    ("Detelina", "Marketing", 2200.00),
    ("Samuel", "Marketing", 1500.00),
    ("Toby", "Operations", 1750.00),
    ("Kris", "Operations", 1800.00),
    ("Daniel", "Operations", 1900.00),
    ("Maria", "Operations", 2000.00),
    ("Pratel", "Operations", 1850.00),
    ("Katya", "Operations", 1500.00),
    ("Simeon", "Operations", 1800.00),
    ("Tanya", "Operations", 2000.00),
    ("Boris", "Sales", 3200.00),
    ("Natalia", "Sales", 3500.00),
    ("Dilyana", "IT", 2200.00),
    ("John", "IT", 2400.00),
    ("Ivan", "IT", 1800.00),
    ("Petko", "IT", 2700.00),
    ("Tobias", "Finance", 3000.00),
    ("Karen", "Finance", 2800.00),
    ("Anelia", "HR", 2650.00),
    ("Mario", "HR", 2500.00),
    ("Anelia", "HR", 2650.00),
    ("Tony", "Legal", 3100.00);
"""

In [4]:
conn = sqlite3.connect('window.db')
cursor = conn.cursor()

In [5]:
cursor.executescript(script)

In [8]:
result = cursor.execute("select * from emp")
result.fetchall()

[(1, 'Anthony', 'Marketing', 2300),
 (2, 'Detelina', 'Marketing', 2200),
 (3, 'Samuel', 'Marketing', 1500),
 (4, 'Toby', 'Operations', 1750),
 (5, 'Kris', 'Operations', 1800),
 (6, 'Daniel', 'Operations', 1900),
 (7, 'Maria', 'Operations', 2000),
 (8, 'Pratel', 'Operations', 1850),
 (9, 'Katya', 'Operations', 1500),
 (10, 'Simeon', 'Operations', 1800),
 (11, 'Tanya', 'Operations', 2000),
 (12, 'Boris', 'Sales', 3200),
 (13, 'Natalia', 'Sales', 3500),
 (14, 'Dilyana', 'IT', 2200),
 (15, 'John', 'IT', 2400),
 (16, 'Ivan', 'IT', 1800),
 (17, 'Petko', 'IT', 2700),
 (18, 'Tobias', 'Finance', 3000),
 (19, 'Karen', 'Finance', 2800),
 (20, 'Anelia', 'HR', 2650),
 (21, 'Mario', 'HR', 2500),
 (22, 'Anelia', 'HR', 2650),
 (23, 'Tony', 'Legal', 3100)]

In [9]:
conn.close()