In [21]:
import sqlite3
from tabulate import tabulate

In [24]:
conn = sqlite3.connect('window.db')

In [3]:
script = """
DROP TABLE IF EXISTS emp;

CREATE TABLE IF NOT EXISTS emp (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    department TEXT,
    salary NUMERIC(10, 2)
);

INSERT INTO emp (name, department, salary) VALUES
    ("Anthony", "Marketing", 2300.00),
    ("Detelina", "Marketing", 2200.00),
    ("Samuel", "Marketing", 1500.00),
    ("Toby", "Operations", 1750.00),
    ("Kris", "Operations", 1800.00),
    ("Daniel", "Operations", 1900.00),
    ("Maria", "Operations", 2000.00),
    ("Pratel", "Operations", 1850.00),
    ("Katya", "Operations", 1500.00),
    ("Simeon", "Operations", 1800.00),
    ("Tanya", "Operations", 2000.00),
    ("Boris", "Sales", 3200.00),
    ("Natalia", "Sales", 3500.00),
    ("Dilyana", "IT", 2200.00),
    ("John", "IT", 2400.00),
    ("Ivan", "IT", 1800.00),
    ("Petko", "IT", 2700.00),
    ("Tobias", "Finance", 3000.00),
    ("Karen", "Finance", 2800.00),
    ("Anelia", "HR", 2650.00),
    ("Mario", "HR", 2500.00),
    ("Anelia", "HR", 2650.00),
    ("Tony", "Legal", 3100.00);
"""

In [25]:
cursor = conn.cursor()
cursor.executescript(script)

In [26]:
result = cursor.execute("select * from emp")
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td style="text-align: right;"> 1</td><td>Anthony </td><td>Marketing </td><td style="text-align: right;">2300</td></tr>\n<tr><td style="text-align: right;"> 2</td><td>Detelina</td><td>Marketing </td><td style="text-align: right;">2200</td></tr>\n<tr><td style="text-align: right;"> 3</td><td>Samuel  </td><td>Marketing </td><td style="text-align: right;">1500</td></tr>\n<tr><td style="text-align: right;"> 4</td><td>Toby    </td><td>Operations</td><td style="text-align: right;">1750</td></tr>\n<tr><td style="text-align: right;"> 5</td><td>Kris    </td><td>Operations</td><td style="text-align: right;">1800</td></tr>\n<tr><td style="text-align: right;"> 6</td><td>Daniel  </td><td>Operations</td><td style="text-align: right;">1900</td></tr>\n<tr><td style="text-align: right;"> 7</td><td>Maria   </td><td>Operations</td><td style="text-align: right;">2000</td></tr>\n<tr><td style="text-align: right;"> 8</td><td>Pratel  </td><td>Operations</td><td style="text-align: right;">1850</td></tr>\n<tr><td style="text-align: right;"> 9</td><td>Katya   </td><td>Operations</td><td style="text-align: right;">1500</td></tr>\n<tr><td style="text-align: right;">10</td><td>Simeon  </td><td>Operations</td><td style="text-align: right;">1800</td></tr>\n<tr><td style="text-align: right;">11</td><td>Tanya   </td><td>Operations</td><td style="text-align: right;">2000</td></tr>\n<tr><td style="text-align: right;">12</td><td>Boris   </td><td>Sales     </td><td style="text-align: right;">3200</td></tr>\n<tr><td style="text-align: right;">13</td><td>Natalia </td><td>Sales     </td><td style="text-align: right;">3500</td></tr>\n<tr><td style="text-align: right;">14</td><td>Dilyana </td><td>IT        </td><td style="text-align: right;">2200</td></tr>\n<tr><td style="text-align: right;">15</td><td>John    </td><td>IT        </td><td style="text-align: right;">2400</td></tr>\n<tr><td style="text-align: right;">16</td><td>Ivan    </td><td>IT        </td><td style="text-align: right;">1800</td></tr>\n<tr><td style="text-align: right;">17</td><td>Petko   </td><td>IT        </td><td style="text-align: right;">2700</td></tr>\n<tr><td style="text-align: right;">18</td><td>Tobias  </td><td>Finance   </td><td style="text-align: right;">3000</td></tr>\n<tr><td style="text-align: right;">19</td><td>Karen   </td><td>Finance   </td><td style="text-align: right;">2800</td></tr>\n<tr><td style="text-align: right;">20</td><td>Anelia  </td><td>HR        </td><td style="text-align: right;">2650</td></tr>\n<tr><td style="text-align: right;">21</td><td>Mario   </td><td>HR        </td><td style="text-align: right;">2500</td></tr>\n<tr><td style="text-align: right;">22</td><td>Anelia  </td><td>HR        </td><td style="text-align: right;">2650</td></tr>\n<tr><td style="text-align: right;">23</td><td>Tony    </td><td>Legal     </td><td style="text-align: right;">3100</td></tr>\n</tbody>\n</table>'

# Window Functions

### Definition

> In SQL a window function or analytic function is a function which uses values from one or multiple rows to return a value for each row.

- **Each row remains a separate identity**. While aggregate functions cause rows to become grouped into a single output row, window functions do not.
- `GROUP BY` can be used with aggregate functions. Window functions can be used with aggregate, ranking, and analytics functions

In [6]:
sql_query = """
SELECT name, salary, SUM(salary)
FROM emp
WHERE department = "HR"
GROUP BY department
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Anelia</td><td style="text-align: right;">2650</td><td style="text-align: right;">7800</td></tr>\n</tbody>\n</table>'

In [7]:
sql_query = """
SELECT name, salary, SUM(salary) OVER ()
FROM emp
WHERE department = "HR"
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Anelia</td><td style="text-align: right;">2650</td><td style="text-align: right;">7800</td></tr>\n<tr><td>Anelia</td><td style="text-align: right;">2650</td><td style="text-align: right;">7800</td></tr>\n<tr><td>Mario </td><td style="text-align: right;">2500</td><td style="text-align: right;">7800</td></tr>\n</tbody>\n</table>'

# Window Syntax

``` sql
{ OVER | WINDOW alias AS } (
    [PARTITION BY ...]
    [ORDER BY ...]
    [
        { RANGE | ROWS | GROUPS }
        { frame_start | BETWEEN frame_start and frame_end } [ frame_exclusion ]
    ]
)
```

`frame_start` and `frame_end` can be:
- `UNBOUNDED PRECEDING`
- `offset PRECEDING`
- `CURRENT ROW`
- `offset FOLLOWING`
- `UNBOUNDED FOLLOWING`

`frame_exclusion` can be:
- `EXCLUDE CURRENT ROW`
- `EXCLUDE GROUP`
- `EXCLUDE TIES`
- `EXCLUDE NO OTHERS`

# Window-Specific Functions

+ [`ROW_NUMBER`](#ROW_NUMBER)
+ [`LAG`](#LAG)
+ [`LEAD`](#LEAD)
+ [`FIRST_VALUE`](#FIRST_VALUE)
+ [`LAST_VALUE`](#LAST_VALUE)
+ [`NTH_VALUE`](#NTH_VALUE)
+ [`RANK`](#RANK)
+ [`DENSE_RANK`](#DENSE_RANK)
+ [`PERCENT_RANK`](#PERCENT_RANK)
+ [`CUME_DIST`](#CUME_DIST)
+ [`NTILE`](#NTILE)

### `ROW_NUMBER`

+ Assigns a sequential integer number to each row in the query's result set.
+ Takes no arguments and operates on partitions, not window frames.


#### Useful for
+ Assigning sequential numbers to a result set. Sometimes it is as simple as that.
+ Pagination: By assigning each row a sequential number, rows can be filtered by that value.
+ Finding the n-th highest value per group.
+ Finding the top-n values per group.
+ Finding duplicate rows: By partitioning over the attribute and then querying for rows with a row number > 1

#### Example: `ROW_NUMBER` over the entire set
``` sql
SELECT x, ROW_NUMBER() OVER w
FROM generate_1_to_5_x2
WINDOW w AS ();
```

```
 x | row_number
---+------------
 1 |          1
 1 |          2
 2 |          3
 2 |          4
 3 |          5
 3 |          6
 4 |          7
 4 |          8
 5 |          9
 5 |         10
```

#### Example: `ROW_NUMBER` over partitioned set
``` sql
SELECT x, ROW_NUMBER() OVER w
FROM generate_1_to_5_x2
WINDOW w AS (PARTITION BY x);
```

```
 x | row_number
---+------------
 1 |          1
 1 |          2
 2 |          1
 2 |          2
 3 |          1
 3 |          2
 4 |          1
 4 |          2
 5 |          1
 5 |          2
```

### `LAG`

+ Provides access to a row at a specified physical offset which comes before the current row.

#### Useful for
+ Calculating the difference between the current row and a previous one.

#### Example: `LAG`
``` sql
SELECT x, LAG(x, 1) OVER w
FROM generate_1_to_5_x2
WINDOW w AS (ORDER BY x);
```

```
 x | row_number
---+------------
 1 |     (null)
 1 |          1
 2 |          1
 2 |          2
 3 |          2
 3 |          3
 4 |          3
 4 |          4
 5 |          4
 5 |          5
```

# Examples

## Over

In [30]:
sql_query = """
SELECT 
    name, 
    salary, 
    SUM(salary) OVER ()
FROM emp
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">53100</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">53100</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">53100</td></tr>\n</tbody>\n</table>'

# As Percentage

In [9]:
sql_query = """
SELECT 
    name, 
    salary, 
    round(salary * 1.0 / SUM(salary) OVER () * 100, 2) AS pct
FROM emp
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;">6.59</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;">6.03</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;">5.84</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">5.65</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">5.27</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;">5.08</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">4.99</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">4.99</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">4.71</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">4.52</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">4.33</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">4.14</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">4.14</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">3.77</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">3.77</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;">3.58</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;">3.48</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">3.39</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">3.39</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;">3.39</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">3.3 </td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">2.82</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">2.82</td></tr>\n</tbody>\n</table>'

this is the same as:

``` sql
SELECT name, salary, 
       round(salary * 1.0 / (SELECT SUM(salary) FROM emp)  * 100, 2) AS pct
FROM emp
ORDER BY salary DESC;
```

# Cumulative Totals Using `ORDER BY`

In [10]:
sql_query = """
SELECT 
    name, 
    salary,
    SUM(salary) OVER (ORDER BY salary DESC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)
FROM emp
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;"> 3500</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;"> 6700</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;"> 9800</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">12800</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">15600</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;">18300</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">20950</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">23600</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">26100</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">28500</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">30800</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">33000</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">35200</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">37200</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">39200</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;">41100</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;">42950</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">44750</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">46550</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;">48350</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">50100</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">51600</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">53100</td></tr>\n</tbody>\n</table>'

# Window `AVG`

In [11]:
sql_query = """
SELECT 
    name, 
    salary,
    round(AVG(salary) OVER (), 2) AS  avg    
FROM emp
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">2308.7</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">2308.7</td></tr>\n</tbody>\n</table>'

# Difference Compared to Average

In [12]:
sql_query = """
SELECT 
    name, 
    salary,
    round(AVG(salary) OVER (), 2) AS avg, 
    round(salary - AVG(salary) OVER (), 2) AS diff_afv
FROM emp
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">1191.3</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 891.3</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 791.3</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 691.3</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 491.3</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 391.3</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 341.3</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 341.3</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">2308.7</td><td style="text-align: right;"> 191.3</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">  91.3</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">  -8.7</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-108.7</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-108.7</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-308.7</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-308.7</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-408.7</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-458.7</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-508.7</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-508.7</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-508.7</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-558.7</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-808.7</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">2308.7</td><td style="text-align: right;">-808.7</td></tr>\n</tbody>\n</table>'

# Difference Compared to the Next Value

In [13]:
sql_query = """
SELECT 
    name, 
    salary,
    salary - LEAD(salary, 1) OVER (ORDER BY salary DESC) AS diff_next
FROM emp
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;">300</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;">100</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;">100</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">200</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">100</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">150</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">100</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">100</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">100</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">200</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">100</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">250</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">   </td></tr>\n</tbody>\n</table>'

# Percentage Difference Compared to the Lowest-Paid Employee

In [14]:
sql_query = """
SELECT 
    name, 
    salary,
    salary - LAST_VALUE(salary) OVER w AS more,
    round((salary - LAST_VALUE(salary) OVER w) * 1.0 / LAST_VALUE(salary) OVER w * 100) as pct_more
FROM emp
WINDOW w AS (ORDER BY salary DESC ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING)
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;">2000</td><td style="text-align: right;">133</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;">1700</td><td style="text-align: right;">113</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;">1600</td><td style="text-align: right;">107</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;">1500</td><td style="text-align: right;">100</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;">1300</td><td style="text-align: right;"> 87</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;">1200</td><td style="text-align: right;"> 80</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">1150</td><td style="text-align: right;"> 77</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;">1150</td><td style="text-align: right;"> 77</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;">1000</td><td style="text-align: right;"> 67</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;"> 900</td><td style="text-align: right;"> 60</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;"> 800</td><td style="text-align: right;"> 53</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;"> 700</td><td style="text-align: right;"> 47</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;"> 700</td><td style="text-align: right;"> 47</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;"> 500</td><td style="text-align: right;"> 33</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;"> 500</td><td style="text-align: right;"> 33</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;"> 400</td><td style="text-align: right;"> 27</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;"> 350</td><td style="text-align: right;"> 23</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;"> 300</td><td style="text-align: right;"> 20</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;"> 300</td><td style="text-align: right;"> 20</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;"> 300</td><td style="text-align: right;"> 20</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;"> 250</td><td style="text-align: right;"> 17</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">   0</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">   0</td><td style="text-align: right;">  0</td></tr>\n</tbody>\n</table>'

# `RANK` and `DENSE_RANK`

In [15]:
sql_query = """
SELECT 
    name, 
    salary,
    RANK() OVER s,
    DENSE_RANK() OVER s
FROM emp
WINDOW s AS (ORDER BY salary DESC)
ORDER BY salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td style="text-align: right;"> 1</td><td style="text-align: right;"> 1</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td style="text-align: right;"> 2</td><td style="text-align: right;"> 2</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td style="text-align: right;"> 3</td><td style="text-align: right;"> 3</td></tr>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td style="text-align: right;"> 4</td><td style="text-align: right;"> 4</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td style="text-align: right;"> 5</td><td style="text-align: right;"> 5</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td style="text-align: right;"> 6</td><td style="text-align: right;"> 6</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;"> 7</td><td style="text-align: right;"> 7</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td style="text-align: right;"> 7</td><td style="text-align: right;"> 7</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td style="text-align: right;"> 9</td><td style="text-align: right;"> 8</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td style="text-align: right;">10</td><td style="text-align: right;"> 9</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td style="text-align: right;">11</td><td style="text-align: right;">10</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td style="text-align: right;">12</td><td style="text-align: right;">11</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td style="text-align: right;">12</td><td style="text-align: right;">11</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td style="text-align: right;">14</td><td style="text-align: right;">12</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td style="text-align: right;">14</td><td style="text-align: right;">12</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td style="text-align: right;">16</td><td style="text-align: right;">13</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td style="text-align: right;">17</td><td style="text-align: right;">14</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td style="text-align: right;">18</td><td style="text-align: right;">15</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td style="text-align: right;">18</td><td style="text-align: right;">15</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td style="text-align: right;">18</td><td style="text-align: right;">15</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td style="text-align: right;">21</td><td style="text-align: right;">16</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td style="text-align: right;">22</td><td style="text-align: right;">17</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td style="text-align: right;">22</td><td style="text-align: right;">17</td></tr>\n</tbody>\n</table>'

# Average by Department

In [16]:
sql_query = """
SELECT 
    name, 
    salary,
    department,
    round(AVG(salary) OVER (PARTITION BY department), 2) AS avg,
    round(salary - AVG(salary) OVER (PARTITION BY department), 2) AS diff_avg
FROM emp
ORDER BY department, salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Tobias  </td><td style="text-align: right;">3000</td><td>Finance   </td><td style="text-align: right;">2900</td><td style="text-align: right;"> 100</td></tr>\n<tr><td>Karen   </td><td style="text-align: right;">2800</td><td>Finance   </td><td style="text-align: right;">2900</td><td style="text-align: right;">-100</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td>HR        </td><td style="text-align: right;">2600</td><td style="text-align: right;">  50</td></tr>\n<tr><td>Anelia  </td><td style="text-align: right;">2650</td><td>HR        </td><td style="text-align: right;">2600</td><td style="text-align: right;">  50</td></tr>\n<tr><td>Mario   </td><td style="text-align: right;">2500</td><td>HR        </td><td style="text-align: right;">2600</td><td style="text-align: right;">-100</td></tr>\n<tr><td>Petko   </td><td style="text-align: right;">2700</td><td>IT        </td><td style="text-align: right;">2275</td><td style="text-align: right;"> 425</td></tr>\n<tr><td>John    </td><td style="text-align: right;">2400</td><td>IT        </td><td style="text-align: right;">2275</td><td style="text-align: right;"> 125</td></tr>\n<tr><td>Dilyana </td><td style="text-align: right;">2200</td><td>IT        </td><td style="text-align: right;">2275</td><td style="text-align: right;"> -75</td></tr>\n<tr><td>Ivan    </td><td style="text-align: right;">1800</td><td>IT        </td><td style="text-align: right;">2275</td><td style="text-align: right;">-475</td></tr>\n<tr><td>Tony    </td><td style="text-align: right;">3100</td><td>Legal     </td><td style="text-align: right;">3100</td><td style="text-align: right;">   0</td></tr>\n<tr><td>Anthony </td><td style="text-align: right;">2300</td><td>Marketing </td><td style="text-align: right;">2000</td><td style="text-align: right;"> 300</td></tr>\n<tr><td>Detelina</td><td style="text-align: right;">2200</td><td>Marketing </td><td style="text-align: right;">2000</td><td style="text-align: right;"> 200</td></tr>\n<tr><td>Samuel  </td><td style="text-align: right;">1500</td><td>Marketing </td><td style="text-align: right;">2000</td><td style="text-align: right;">-500</td></tr>\n<tr><td>Maria   </td><td style="text-align: right;">2000</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;"> 175</td></tr>\n<tr><td>Tanya   </td><td style="text-align: right;">2000</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;"> 175</td></tr>\n<tr><td>Daniel  </td><td style="text-align: right;">1900</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;">  75</td></tr>\n<tr><td>Pratel  </td><td style="text-align: right;">1850</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;">  25</td></tr>\n<tr><td>Kris    </td><td style="text-align: right;">1800</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;"> -25</td></tr>\n<tr><td>Simeon  </td><td style="text-align: right;">1800</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;"> -25</td></tr>\n<tr><td>Toby    </td><td style="text-align: right;">1750</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;"> -75</td></tr>\n<tr><td>Katya   </td><td style="text-align: right;">1500</td><td>Operations</td><td style="text-align: right;">1825</td><td style="text-align: right;">-325</td></tr>\n<tr><td>Natalia </td><td style="text-align: right;">3500</td><td>Sales     </td><td style="text-align: right;">3350</td><td style="text-align: right;"> 150</td></tr>\n<tr><td>Boris   </td><td style="text-align: right;">3200</td><td>Sales     </td><td style="text-align: right;">3350</td><td style="text-align: right;">-150</td></tr>\n</tbody>\n</table>'

# Compared to Next Salary in Department

In [17]:
sql_query = """
SELECT 
    name, 
    department,
    salary,
    salary - LEAD(salary, 1) OVER (PARTITION BY department ORDER BY salary DESC) AS diff_next
FROM emp
ORDER BY department, salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Tobias  </td><td>Finance   </td><td style="text-align: right;">3000</td><td style="text-align: right;">200</td></tr>\n<tr><td>Karen   </td><td>Finance   </td><td style="text-align: right;">2800</td><td style="text-align: right;">   </td></tr>\n<tr><td>Anelia  </td><td>HR        </td><td style="text-align: right;">2650</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Anelia  </td><td>HR        </td><td style="text-align: right;">2650</td><td style="text-align: right;">150</td></tr>\n<tr><td>Mario   </td><td>HR        </td><td style="text-align: right;">2500</td><td style="text-align: right;">   </td></tr>\n<tr><td>Petko   </td><td>IT        </td><td style="text-align: right;">2700</td><td style="text-align: right;">300</td></tr>\n<tr><td>John    </td><td>IT        </td><td style="text-align: right;">2400</td><td style="text-align: right;">200</td></tr>\n<tr><td>Dilyana </td><td>IT        </td><td style="text-align: right;">2200</td><td style="text-align: right;">400</td></tr>\n<tr><td>Ivan    </td><td>IT        </td><td style="text-align: right;">1800</td><td style="text-align: right;">   </td></tr>\n<tr><td>Tony    </td><td>Legal     </td><td style="text-align: right;">3100</td><td style="text-align: right;">   </td></tr>\n<tr><td>Anthony </td><td>Marketing </td><td style="text-align: right;">2300</td><td style="text-align: right;">100</td></tr>\n<tr><td>Detelina</td><td>Marketing </td><td style="text-align: right;">2200</td><td style="text-align: right;">700</td></tr>\n<tr><td>Samuel  </td><td>Marketing </td><td style="text-align: right;">1500</td><td style="text-align: right;">   </td></tr>\n<tr><td>Maria   </td><td>Operations</td><td style="text-align: right;">2000</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Tanya   </td><td>Operations</td><td style="text-align: right;">2000</td><td style="text-align: right;">100</td></tr>\n<tr><td>Daniel  </td><td>Operations</td><td style="text-align: right;">1900</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Pratel  </td><td>Operations</td><td style="text-align: right;">1850</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Kris    </td><td>Operations</td><td style="text-align: right;">1800</td><td style="text-align: right;">  0</td></tr>\n<tr><td>Simeon  </td><td>Operations</td><td style="text-align: right;">1800</td><td style="text-align: right;"> 50</td></tr>\n<tr><td>Toby    </td><td>Operations</td><td style="text-align: right;">1750</td><td style="text-align: right;">250</td></tr>\n<tr><td>Katya   </td><td>Operations</td><td style="text-align: right;">1500</td><td style="text-align: right;">   </td></tr>\n<tr><td>Natalia </td><td>Sales     </td><td style="text-align: right;">3500</td><td style="text-align: right;">300</td></tr>\n<tr><td>Boris   </td><td>Sales     </td><td style="text-align: right;">3200</td><td style="text-align: right;">   </td></tr>\n</tbody>\n</table>'

# Departmental and Global Ranks

In [18]:
sql_query = """
SELECT 
    name, 
    department,
    salary,
    RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS dept_rank,
    RANK() OVER (ORDER BY salary DESC) AS global_rank
FROM emp
ORDER BY department, salary DESC;
"""
result = cursor.execute(sql_query)
tabulate(result.fetchall(), tablefmt="html")

'<table>\n<tbody>\n<tr><td>Tobias  </td><td>Finance   </td><td style="text-align: right;">3000</td><td style="text-align: right;">1</td><td style="text-align: right;"> 4</td></tr>\n<tr><td>Karen   </td><td>Finance   </td><td style="text-align: right;">2800</td><td style="text-align: right;">2</td><td style="text-align: right;"> 5</td></tr>\n<tr><td>Anelia  </td><td>HR        </td><td style="text-align: right;">2650</td><td style="text-align: right;">1</td><td style="text-align: right;"> 7</td></tr>\n<tr><td>Anelia  </td><td>HR        </td><td style="text-align: right;">2650</td><td style="text-align: right;">1</td><td style="text-align: right;"> 7</td></tr>\n<tr><td>Mario   </td><td>HR        </td><td style="text-align: right;">2500</td><td style="text-align: right;">3</td><td style="text-align: right;"> 9</td></tr>\n<tr><td>Petko   </td><td>IT        </td><td style="text-align: right;">2700</td><td style="text-align: right;">1</td><td style="text-align: right;"> 6</td></tr>\n<tr><td>John    </td><td>IT        </td><td style="text-align: right;">2400</td><td style="text-align: right;">2</td><td style="text-align: right;">10</td></tr>\n<tr><td>Dilyana </td><td>IT        </td><td style="text-align: right;">2200</td><td style="text-align: right;">3</td><td style="text-align: right;">12</td></tr>\n<tr><td>Ivan    </td><td>IT        </td><td style="text-align: right;">1800</td><td style="text-align: right;">4</td><td style="text-align: right;">18</td></tr>\n<tr><td>Tony    </td><td>Legal     </td><td style="text-align: right;">3100</td><td style="text-align: right;">1</td><td style="text-align: right;"> 3</td></tr>\n<tr><td>Anthony </td><td>Marketing </td><td style="text-align: right;">2300</td><td style="text-align: right;">1</td><td style="text-align: right;">11</td></tr>\n<tr><td>Detelina</td><td>Marketing </td><td style="text-align: right;">2200</td><td style="text-align: right;">2</td><td style="text-align: right;">12</td></tr>\n<tr><td>Samuel  </td><td>Marketing </td><td style="text-align: right;">1500</td><td style="text-align: right;">3</td><td style="text-align: right;">22</td></tr>\n<tr><td>Maria   </td><td>Operations</td><td style="text-align: right;">2000</td><td style="text-align: right;">1</td><td style="text-align: right;">14</td></tr>\n<tr><td>Tanya   </td><td>Operations</td><td style="text-align: right;">2000</td><td style="text-align: right;">1</td><td style="text-align: right;">14</td></tr>\n<tr><td>Daniel  </td><td>Operations</td><td style="text-align: right;">1900</td><td style="text-align: right;">3</td><td style="text-align: right;">16</td></tr>\n<tr><td>Pratel  </td><td>Operations</td><td style="text-align: right;">1850</td><td style="text-align: right;">4</td><td style="text-align: right;">17</td></tr>\n<tr><td>Kris    </td><td>Operations</td><td style="text-align: right;">1800</td><td style="text-align: right;">5</td><td style="text-align: right;">18</td></tr>\n<tr><td>Simeon  </td><td>Operations</td><td style="text-align: right;">1800</td><td style="text-align: right;">5</td><td style="text-align: right;">18</td></tr>\n<tr><td>Toby    </td><td>Operations</td><td style="text-align: right;">1750</td><td style="text-align: right;">7</td><td style="text-align: right;">21</td></tr>\n<tr><td>Katya   </td><td>Operations</td><td style="text-align: right;">1500</td><td style="text-align: right;">8</td><td style="text-align: right;">22</td></tr>\n<tr><td>Natalia </td><td>Sales     </td><td style="text-align: right;">3500</td><td style="text-align: right;">1</td><td style="text-align: right;"> 1</td></tr>\n<tr><td>Boris   </td><td>Sales     </td><td style="text-align: right;">3200</td><td style="text-align: right;">2</td><td style="text-align: right;"> 2</td></tr>\n</tbody>\n</table>'

In [19]:
sql_query = """
SELECT SUM(salary) FROM emp
"""
result = cursor.execute(sql_query)
result.fetchall()

[(53100,)]

In [20]:
conn.close()